<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog :: Post</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Blog Application</h1>
    <hr/>
    <div class="posts-container">
        <a th:href="@{'/'}">Home</a>
        <h3 th:text="${post.title}">Title</h3>
        <h5 th:text="'Created on ' + ${post.createdAt}"> created</h5>
        <p th:text="${post.body}"> body text </p>
        <br/>
    </div>
    <ul sec:authorize="isAuthenticated()">
        <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a></li>
        <li><a th:href="@{'/posts/' + ${post.id} + '/delete'}">Delete</a></li>
    </ul>
</div>
</body>
</html>